@font-face { font-family: Engschrift; src: url('Engschrift.otf'); }

body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background:rgb(245, 245, 245);
  color: #111111; 
  overflow-x: initial;
  width: 100%;
  height: 100%;
}


.about {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 75%;
    text-align: justify;
    font-size: 20px;
}

.title {
    font-size: 30px;
}

#deleteMe {
  display: block;
}

/* pages */

#test1 {
    display: block;
}

#test2 {
    display: none;
}

#startButton{
  position: absolute;
  top:115%;
  left: 47%;
}

/* index - consent slider */

  /* Sketch canvas */ 

  #sketch {
    margin-top:2%;
    z-index:-1;
  }

  /* buttons */

  .soundButton{
    position: absolute;
    top: 23%;
    margin: 56px auto 0;
    padding: 36px 20px;
    appearance: none;
    transition: all 0.15s ease-in-out;
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    border: 6px solid #000;
    color: white;
    background: rgb(17, 17, 17);
    border-radius: 100%;
    outline: 0;
    cursor: pointer;
  }
  .soundButton:hover {
    color: darkred;
    transform: scale(1.1);
  }


  #playL{
    left: 21%;
  }
  #playR{
    left: 71%;
  }

  /* next button */

  .custombutton  {
    position: absolute;
    margin: 56px auto 0;
    padding: 10px 20px;
    appearance: none;
    transition: all 0.15s ease-in-out;
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    background: #fff;
    border: 2px solid #000;
    color: rgb(17, 17, 17);
    border-radius: 8px;
    outline: 0;
    cursor: pointer;
  }
  .custombutton:hover {
    background: #000;
    color: #fff;
  }
  .custombutton:hover:active {
    transform: scale(0.9);
  }

  /* test button */

  .custombutton2  {
    position: relative;
    margin: 1% auto 0;
    padding: 1% 1.3vw;
    appearance: none;
    transition: all 0.15s ease-in-out;
    font-family: inherit;
    font-size: 17px;
    font-weight: 600;
    background: #fff;
    border: 1% solid #000;
    color: rgb(17, 17, 17);
    border-radius: 8px;
    outline: 0;
    cursor: pointer;
  }
  .custombutton2:hover {
    background: #000;
    color: #fff;
  }
  .custombutton2:hover:active {
    transform: scale(0.9);
  }
  .custombutton2:disabled{
    cursor: not-allowed;
    pointer-events: none;
    color: darkgray;
 }

  #testButtons {
    position: fixed;
    z-index: 99 !important; 
    background-color: whitesmoke;
    left: 2.5%;
    margin-top: -2%;
    padding-bottom: 1%;
    border:1px solid whitesmoke;
    border-bottom:2px solid black;
  }

  #nextButton {
    top: 80%;
    left: 47%;
    margin-bottom: 10%;
  }

  #testNext{
    font-size: 20px;
    left: 46%;
  }

  #updateAnswers{
    font-size: 20px;
    display: none;
    left: -30%;
  }
  
#lastTest{
  margin-left: -28%; 
  display: none;
 }
 #lastTest2{
  display: none;
 }

#submit {
  background: darkred;
}

/* slider for canvas */

#textSlider1 {
  position: absolute;
  margin-left: 15%;    
  top: 60%;
}
.slidecontainer1 {
  position: absolute;
  width: 34%; 
  margin-left: 8%;    
  top: 80%;
}
#slidecontainer1double{
  top: 80%;
}

#textSlider2 {
  position: absolute;
  margin-left: 64.5%;    
  top: 60%;
}
.slidecontainer2 {
  position: absolute;
  width: 34%; 
  margin-left: 58%;    
  top: 80%;
}

/* gradient of slider to appear circular */

:root {
  --red-color:127;
  --blue-color:127;
  --green-color:127;
 }

  
  /* The slider itself */
  .sliderCanvas {
    -webkit-appearance: none;  /* override default */
    appearance: none;
    width: 100%; 
    height: 25px; 
    background: linear-gradient(to left, #ebebeb, #7d7d7d 25%, #7d7d7d 75%, #ebebeb 100%);
    outline: none; 
    opacity: 0.9; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .sliderCanvas:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .sliderCanvas::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #000; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .sliderCanvas::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

#demo1 {
  display: none;
}
#demo1double {
  display: none;
}
#demo2double {
  display: none;
}
#demo2 {
  display: none;
}

/* radio buttons for the canvas */

.radio-item {
    position: absolute;
    padding: 0 6px;
    margin: 0 auto;
    left: 11.5%;
    top: 85%;
}

.radio-item.secondOption {
    left: 19.5%;
}

.radio-item.thirdOption {
    left: 27.5%;
}
.radio-item.fourthOption {
  left: 35.5%;
}

.radio-item.fifthOption {
  left: 61.5%;
}
.radio-item.sixthOption {
  left: 69.5%;
}
.radio-item.seventhOption {
left: 77.5%;
}
.radio-item.eighthOption {
  left: 85.5%;
}
  

.radio-item input[type='radio'] {
    display: none;  
}

.radio-item label {
    color: #666;
    font-weight: normal;
}

.radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid black;
    background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 8.6px;
    left: 9.8px;
    content: " ";
    display: block;
    background: black;
}

label {
    display: inline-block;
}

/*IMAGE LEFT*/

#affectGrid {
  position: absolute;
  top: 120%;
  left: 9%;
  padding: 5%;
}

.gridCell {
  width:40px;
  height:40px;
  border: 3px solid black;
  color: black;
  background-color: whitesmoke;
  text-align: center;
  font-size: 40px;
}

#leftQuestionnaire{
  font-size: 11px;
  text-align: left;
}

#textGridRight{
  position: absolute;
  font-size: 20px;
  left: 35.5%;
  top: 146%;
}
#textGridLeft{  
  position: absolute;
  font-size: 20px;
  text-align: right;
  left: 6%;
  top: 146%;
}
#textGridTop{
  position: absolute;
  font-size: 20px;
  text-align: center;
  left: 20.2%;
  top: 126%;
}
#textGridBottom{
  position: absolute;
  font-size: 20px;
  text-align: center;
  left: 20.9%;
  top: 171%;
}
#textGridTopR{
  position: absolute;
  font-size: 20px;
  text-align: left;
  left: 35.2%;
  top: 126%;
}
#textGridBottomR{
  position: absolute;
  font-size: 20px;
  text-align: left;
  left: 35.2%;
  top: 171%;
}
#textGridTopL{
  position: absolute;
  font-size: 20px;
  text-align: right;
  left: 9.5%;
  top: 126%;
}
#textGridBottomL{
  position: absolute;
  font-size: 20px;
  text-align: left;
  left: 6.1%;
  top: 171%;
}

#textQ2 {
  position: absolute;
  margin-left: 13%;    
  top: 90%;
}

#tensionNumber{
  text-align: center;
}

#textQ3 {
  position: absolute;
  margin-left: 5%;    
  top: 100%;
}

#textQ4 {
  position: absolute;
  margin-left: 3%;    
  top: 110%;
}

#resultsText{
  font-size: 10px;
}

/* FOR IMAGE 2 */

#rightQuestionnaire{
  font-size: 11px;
}

#tensionNumber2{
  text-align: center;
}

#textQ5 {
  position: absolute;
  margin-left: 63%;    
  top: 90%;
}

#textQ6 {
  position: absolute;
  margin-left: 56%;    
  top: 100%;
}

#textQ7 {
  position: absolute;
  margin-left: 54%;    
  top: 110%;
}

#textNext {
  position: absolute;
  margin-left: 39.5%;  
  top: 180%;
  padding-bottom: 3%;
}

#affectGrid2 {
  position: absolute;
  top: 120%;
  left: 60%;
  padding: 5%;
}

#textGridRight2{
  position: absolute;
  font-size: 20px;
  left: 86.5%;
  top: 146%;
}
#textGridLeft2{  
  position: absolute;
  font-size: 20px;
  text-align: right;
  left: 57%;
  top: 146%;
}
#textGridTop2{
  position: absolute;
  font-size: 20px;
  text-align: center;
  left: 71.1%;
  top: 126%;
}
#textGridBottom2{
  position: absolute;
  font-size: 20px;
  text-align: center;
  left: 72%;
  top: 171%;
}
#textGridTopR2{
  position: absolute;
  font-size: 20px;
  text-align: left;
  left:  86.1%;
  top: 126.1%;
}
#textGridBottomR2{
  position: absolute;
  font-size: 20px;
  text-align: left;
  left: 86.5%;
  top: 171%;
}
#textGridTopL2{
  position: absolute;
  font-size: 20px;
  text-align: right;
  left: 60.2%;
  top: 126.1%;
}
#textGridBottomL2{
  position: absolute;
  font-size: 20px;
  text-align: left;
  left: 57%;
  top: 171%;
}

.playButton:hover:active{
  transform: scale(0.5);
}

.stopButton:hover:active{
  transform: scale(0.5);
}

.red { color: darkred; }

#app {
  position: absolute;
  margin-left: 3.5%;
  top: 52.5%;
  z-index: 98 !important; 
}
#app3 {
  position: absolute;
  margin-left: 21.5%;
  top: 52.5%;
  z-index: 98 !important; 
}

#app2 {
  position: absolute;
  margin-left: 53.5%;
  top: 52.5%;
  z-index: 98 !important; 
}
#app4 {
  position: absolute;
  margin-left: 71.5%;
  top: 52.5%;
  z-index: 98 !important; 
}

h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.sliderCircular__legend {
  padding: 1rem 3rem 0 0;
  list-style: none;
}

.sliderCircular__legend h2 {
  margin-bottom: 1rem;
}

.sliderCircular__legend li {
  display: flex;
  margin-bottom: 1rem;
}

.sliderCircular__legend li span {
  display: inline-block;
}

.sliderCircular__legend li span:first-child {
  height: 20px;
  width: 20px;
  margin-bottom: -2px;
}

.sliderCircular__legend li span:nth-child(2) {
  margin: 0 0.5rem;
}

.sliderCircular__legend li span:last-child {
  font-size: 1.25rem;
  font-weight: 600;
  font-variant-numeric: tabular-nums lining-nums;
  min-width: 60px;
}





