@font-face { font-family: Engschrift; src: url('Engschrift.otf'); }

body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background:rgb(245, 245, 245);
  color: #111111; 
  overflow-x: initial;
  width: 100%;
  height: 100%;
}


.about {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 73%;
    text-align: justify;
    font-size: 20px;
}

.title {
    font-size: 30px;
}

#deleteMe {
  display: block;
}

/* pages */

#test1 {
    display: block;
}

#test2 {
    display: none;
}

#startButton{
  position: relative;
  MARGIN-TOP: -4%;
}


/* index - consent slider */

  /* Sketch canvas */ 

  #sketch {
    margin-top:2%;
    z-index:-1;
  }

  /* buttons */

  .soundButton{
    position: absolute;
    top: 23%;
    margin: 56px auto 0;
    padding: 36px 20px;
    appearance: none;
    transition: all 0.15s ease-in-out;
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    border: 6px solid #000;
    color: white;
    background: rgb(17, 17, 17);
    border-radius: 100%;
    outline: 0;
    cursor: pointer;
  }
  .soundButton:hover {
    color: darkred;
    transform: scale(1.1);
  }


  #playL{
    left: 21%;
  }
  #playR{
    left: 71%;
  }

  /* next button */

  .custombutton  {
    position: absolute;
    margin: 56px auto 0;
    padding: 10px 20px;
    appearance: none;
    transition: all 0.15s ease-in-out;
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    background: #fff;
    border: 2px solid #000;
    color: rgb(17, 17, 17);
    border-radius: 8px;
    outline: 0;
    cursor: pointer;
  }
  .custombutton:hover {
    background: #000;
    color: #fff;
  }
  .custombutton:hover:active {
    transform: scale(0.9);
  }

  /* test button */

  #definitions{
    background: #d3d3d3;
    color: black;
    padding: 1% 1vw;
  }

  #definitionPopUp{
    text-align: left;
    font-size: 15px;
    border: 2% solid #000;
    position: fixed;
    width: 50%;
    background-color: #d3d3d3;
    color: black;
    border-radius: 6px;
    padding: 1% 1%;
    z-index: 99! important;
    top: 14%;
    left: 0.7%;
    border: 3px solid #000;
  }

  .custombutton2  {
    position: relative;
    margin: 1% auto 0;
    padding: 1% 1.0vw;
    appearance: none;
    transition: all 0.15s ease-in-out;
    font-family: inherit;
    font-size: 1em;
    font-weight: 600;
    background: #fff;
    border: 1% solid #000;
    color: rgb(17, 17, 17);
    border-radius: 6%;
    outline: 0;
    cursor: pointer;
  }
  .custombutton2:hover {
    background: #000;
    color: #fff;
  }
  .custombutton2:hover:active {
    transform: scale(0.9);
  }
  .custombutton2:disabled{
    cursor: not-allowed;
    pointer-events: none;
    color: darkgray;
 }


 
 .custombutton3  {
  position: relative;
  margin: 2% auto 0;
  padding: 6% 1.4vw;
  appearance: none;
  transition: all 0.15s ease-in-out;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  background: #fff;
  border: 1% solid #000;
  color: rgb(17, 17, 17);
  border-radius: 5%;
  outline: 0;
  cursor: pointer;
}
.custombutton3:hover {
  background: #000;
  color: #fff;
}
.custombutton3:hover:active {
  transform: scale(0.9);
}

 #alignCenter{
  display: flex;
  justify-content: center;
}

  #testButtons {
    position: fixed;
    z-index: 99 !important; 
    background-color: whitesmoke;
    padding-bottom: 1%;
    border:0.5vh solid whitesmoke;
    border-bottom:0.3vh solid black;
  }

  #nextButton {
    top: 80%;
    left: 47%;
    margin-bottom: 10%;
  }

  #testNext{
    font-size: 20px;
    left: 46%;
  }

  #updateAnswers{
    font-size: 20px;
    display: none;
    left: -30%;
  }
  
#lastTest{
  margin-left: -26%; 
  display: none;
 }
 #lastTest2{
  display: none;
 }

#submit {
  background: darkred;
}

#tensionLeft{
  left:5%;
}

/* slider for canvas */

#textSlider1 {
  position: absolute;
  margin-left: 15%;    
  top: 60%;
}
.slidecontainer1 {
  position: absolute;
  width: 34%; 
  margin-left: 8%;    
  top: 80%;
}
#slidecontainer1double{
  top: 80%;
}

#textSlider2 {
  position: absolute;
  margin-left: 64.5%;    
  top: 60%;
}
.slidecontainer2 {
  position: absolute;
  width: 34%; 
  margin-left: 58%;    
  top: 80%;
}

/* gradient of slider to appear circular */

:root {
  --red-color:127;
  --blue-color:127;
  --green-color:127;
 }

 /* TENSION SLIDER */
  
 .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 24px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  stroke-width:3px;
  fill: black;
  background: white;
  cursor: pointer;
  border:3.2px solid black;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black; 
  stroke-width:3px;
  fill: black;
  cursor: pointer;
}

#demo1 {
  display: none;
}
#demo1double {
  display: none;
}
#demo2double {
  display: none;
}
#demo2 {
  display: none;
}


.radio-itemSoundCheck {
  position: absolute;
  padding: 0 6px;
  margin: 0 auto;
  left:  15.5%;
  top: 65%;
  z-index: 98 !important; 
}

.radio-itemSoundCheck.secondOption {
  left: 23.5%;
}

.radio-itemSoundCheck.thirdOption {
  left: 31.5%;
}

.radio-itemSoundCheck input[type='radio'] {
  display: none;  
}

.radio-itemSoundCheck label {
  color: #666;
  font-weight: normal;
}

.radio-itemSoundCheck label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid black;
  background-color: transparent;
}

.radio-itemSoundCheck input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 8.6px;
  left: 9.8px;
  content: " ";
  display: block;
  background: black;
}

label {
  display: inline-block;
}


/* radio buttons for the canvas */

.radio-item {
    position: absolute;
    padding: 0 6px;
    margin: 0 auto;
    left: 11.5%;
    top: 85%;
    z-index: 98 !important; 
}

.radio-item.secondOption {
    left: 19.5%;
}

.radio-item.thirdOption {
    left: 27.5%;
}
.radio-item.fourthOption {
  left: 35.5%;
}

.radio-item.fifthOption {
  left: 61.5%;
}
.radio-item.sixthOption {
  left: 69.5%;
}
.radio-item.seventhOption {
left: 77.5%;
}
.radio-item.eighthOption {
  left: 85.5%;
}
  

.radio-item input[type='radio'] {
    display: none;  
}

.radio-item label {
    color: #666;
    font-weight: normal;
}

.radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid black;
    background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 8.6px;
    left: 9.8px;
    content: " ";
    display: block;
    background: black;
}

label {
    display: inline-block;
}

/*IMAGE LEFT*/

.slidecontainer {
  position: absolute;
  width: 89%;
  display: flex;
  justify-content: center; 
}


#affectGrid {
  position: absolute;
  top: 130%;
  padding: 5%;
  left:11%;
}

.gridCell {
  width:2.5vw;
  height:2.5vw;
  border: 0.2vw solid gray;
  color: black;
  background-color: whitesmoke;
  text-align: center;
  font-size: 40px;
}

#leftQuestionnaire{
  font-size: 11px;
  justify-content: center;
  align-items: center;
}

#textGridRight{
  position: absolute;
  left: 34.5%;
  color: gray;
  top: 153%;
  font-size: 1.5em;
}
#textGridLeft{  
  position: absolute;
  text-align: right;
  left: 9%;
  top: 153.5%;
  color: gray;
  font-size: 1.5em;
}
#textGridTop{
  position: absolute;
  text-align: center;
  color: gray;
  left: 21.6%;
  top: 136%;
  font-size: 1.5em;
}
#textGridBottom{
  position: absolute;
  text-align: center;
  color: gray;
  left: 22%;
  top: 173%;
  font-size: 1.5em;
}
#textGridTopR{
  position: absolute;
  text-align: left;
  left: 34.5%;
  top: 136%;
  color: gray;
  font-size: 1.5em;
}
#textGridBottomR{
  position: absolute;
  text-align: left;
  left: 34.5%;
  top: 173%;
  color: gray;
  font-size: 1.5em;
}
#textGridTopL{
  position: absolute;
  text-align: right;
  left: 11.5%;
  top: 136%;
  color: gray;
  font-size: 1.5em;
}
#textGridBottomL{
  position: absolute;
  text-align: right;
  left: 9%;
  top: 173%;
  color: gray;
  font-size: 1.5em;
}

#textQ2 {
  position: absolute;
  text-align: center;
  top: 90%;
  left:12.5%;
  justify-content: center;
  align-items: center;
}

#tensionNumber{
  position: absolute;
  text-align: center;
}

#textQ3 {
  position: absolute;
  text-align: center;
  top: 100%;
  left:8.5%;
  justify-content: center;
  align-items: center;
}

#tensionValueLeft{
  font-size: 25px;
  text-align: center;
  z-index: 98 !important;
}

#textQ4 {
  position: absolute;
  text-align: center;
  top: 125%;
  left:3%;
  justify-content: center;
  align-items: center;
}

#resultsText{
  font-size: 10px;
}

/* FOR IMAGE 2 */

#rightQuestionnaire{
  font-size: 11px;
  justify-content: center;
  align-items: center;
}

#tensionNumber2{
  text-align: center;
}

#textQ5 {
  position: absolute;
  margin-left: 63%;    
  top: 90%;
  justify-content: center;
  align-items: center;
}

#tensionRight{
  left: 5%;
}

#textQ6 {
  position: absolute;
  text-align: center;
  top: 100%;
  left:59.5%;
  justify-content: center;
  align-items: center;
}

#tensionValueRight{
  font-size: 25px;
  text-align: center;
  
  justify-content: center;
  align-items: center;
}

#textQ7 {
  position: absolute;
  margin-left: 54%;    
  top: 125%;
  justify-content: center;
  align-items: center;
}

#textNext {
  position: absolute;
  margin-left: 39.5%;  
  top: 180%;
  padding-bottom: 3%;
}

#affectGrid2 {
  position: absolute;
  top: 130%;
  left: 62.5%;
  padding: 5%;
}
#textGridRight2{
  position: absolute;
  left: 85.5%;
  color: gray;
  top: 153.5%;
  font-size: 1.5em;
}
#textGridLeft2{  
  position: absolute;
  text-align: right;
  left: 60%;
  top: 153.5%;
  color: gray;
  font-size: 1.5em;
}
#textGridTop2{
  position: absolute;
  text-align: center;
  color: gray;
  left: 72.5%;
  top: 136%;
  font-size: 1.5em;
}
#textGridBottom2{
  position: absolute;
  text-align: center;
  color: gray;
  left: 73%;
  top: 173%;
  font-size: 1.5em;
}
#textGridTopR2{
  position: absolute;
  text-align: left;
  left: 85.5%;
  top: 136%;
  color: gray;
  font-size: 1.5em;
}
#textGridBottomR2{
  position: absolute;
  text-align: left;
  left: 85.5%;
  top: 173%;
  color: gray;
  font-size: 1.5em;
}
#textGridTopL2{
  position: absolute;
  text-align: right;
  left: 62.5%;
  top: 136%;
  color: gray;
  font-size: 1.5em;
}
#textGridBottomL2{
  position: absolute;
  text-align: right;
  left: 60%;
  top: 173%;
  color: gray;
  font-size: 1.5em;
}


.playButton:hover:active{
  transform: scale(0.5);
}

.stopButton:hover:active{
  transform: scale(0.5);
}

.red { color: darkred; }

#app {
  position: absolute;
  margin-left: 3.5%;
  top: 52.5%;
  z-index: 97 !important; 
}
#app3 {
  position: absolute;
  margin-left: 30.5%;
  top: 69.5%;
  z-index: 97 !important; 
}

#app2 {
  position: absolute;
  margin-left: 53.5%;
  top: 52.5%;
  z-index: 97 !important; 
}
#app4 {
  position: absolute;
  margin-left: 80%;
  top: 69.5%;
  z-index: 97 !important; 
}

#app5 {
  display: none;
  position: absolute;
  margin-left: 53.5%;
  top: 52.5%;
  z-index: 97 !important; 
}
#app6 {
  display: none;
  position: absolute;
  margin-left: 71.5%;
  top: 69.5%;
  z-index: 97 !important; 
}
#app7 {
  display: none;
  position: absolute;
  margin-left: 53.5%;
  top: 52.5%;
  z-index: 97 !important; 
}
#app8 {
  display: none;
  position: absolute;
  margin-left: 71.5%;
  top: 69.5%;
  z-index: 97 !important; 
}
#app9 {
  display: none;
  position: absolute;
  margin-left: 71.5%;
  top: 69.5%;
  z-index: 97 !important; 
}
#app10 {
  display: none;
  position: absolute;
  margin-left: 71.5%;
  top: 69.5%;
  z-index: 97 !important; 
}





h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.sliderCircular__legend {
  padding: 1rem 3rem 0 0;
  list-style: none;
}

.sliderCircular__legend h2 {
  margin-bottom: 1rem;
}

.sliderCircular__legend li {
  display: flex;
  margin-bottom: 1rem;
}

.sliderCircular__legend li span {
  display: inline-block;
}

.sliderCircular__legend li span:first-child {
  height: 20px;
  width: 20px;
  margin-bottom: -2px;
}

.sliderCircular__legend li span:nth-child(2) {
  margin: 0 0.5rem;
}

.sliderCircular__legend li span:last-child {
  font-size: 1.25rem;
  font-weight: 600;
  font-variant-numeric: tabular-nums lining-nums;
  min-width: 60px;
}


/* index - consent slider */

.sliderWrapperConsent{display: inline-block;margin:24px 24px 24px 24px;}
.sliderWrapperConsent div{display: inline-block;line-height:20px;}

.switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .sliderConsent {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .sliderConsent:before {
    position: absolute;
    content: " ";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .sliderConsent {
    background-color: green;
  }
  
  input:focus + .sliderConsent {
    box-shadow: 0 0 1px green;
  }
  
  input:checked + .sliderConsent:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }