@font-face { font-family: Engschrift; src: url('Engschrift.otf'); }

body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background:rgb(245, 245, 245);
  color: rgb(17, 17, 17);
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

#about {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 75%;
    text-align: justify;
    font-size: 20px;
}

.title {
    font-size: 30px;
}

/* pages */

#test1 {
    display: block;
}

#test2 {
    display: none;
}

/* index - consent slider */

.sliderWrapper{display: inline-block;margin:24px 24px 24px 24px;}
.sliderWrapper div{display: inline-block;line-height:60px;}

.switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: " ";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: green;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px green;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* buttons */

  .custombutton  {
    position: absolute;
    margin: 56px auto 0;
    padding: 10px 20px;
    appearance: none;
    transition: all 0.15s ease-in-out;
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    background: #fff;
    border: 2px solid #000;
    color: rgb(17, 17, 17);
    border-radius: 8px;
    outline: 0;
    cursor: pointer;
  }
  .custombutton:hover {
    background: #000;
    color: #fff;
  }
  .custombutton:hover:active {
    transform: scale(0.9);
  }

  #nextButton {
    top: 80%;
    left: 47%;
}

/* slider for canvas */

.slidecontainer {
    position: absolute;
    width: 34%; 
    margin-left: 33%;    
    top: 70%;
  }
  
  /* The slider itself */
  .sliderCanvas {
    -webkit-appearance: none;  /* override default */
    appearance: none;
    width: 100%; 
    height: 25px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .sliderCanvas:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .sliderCanvas::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #000; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .sliderCanvas::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  #demo {
    display: none;
}

/* radio buttons for the canvas */

.radio-item {
    position: absolute;
    padding: 0 6px;
    margin: 0 auto;
    left: 43%;
    top: 75%;
}

.radio-item.secondOption {
    left: 49%;
}

.radio-item.thirdOption {
    left: 55%;
}

.radio-item input[type='radio'] {
    display: none;  
}

.radio-item label {
    color: #666;
    font-weight: normal;
}

.radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid black;
    background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 8.6px;
    left: 9.8px;
    content: " ";
    display: block;
    background: black;
}

label {
    display: inline-block;
}
